# ====================
# Root-level ignores
# ====================

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ====================
# Next.js project
# ====================
nextjs-el-kratos-embassy/node_modules/
nextjs-el-kratos-embassy/.next/
nextjs-el-kratos-embassy/out/
nextjs-el-kratos-embassy/build/
nextjs-el-kratos-embassy/.env*
nextjs-el-kratos-embassy/next-env.d.ts
nextjs-el-kratos-embassy/*.tsbuildinfo
nextjs-el-kratos-embassy/.vercel

# ====================
# Sanity project
# ====================
sanity/node_modules/
sanity/.sanity/
sanity/.env*
sanity/dist/
sanity/.vercel
